<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Login</display-name>
  <welcome-file-list>
    <welcome-file>main_login.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>login</servlet-name>
  	<servlet-class>com.login.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>login</servlet-name>
	<url-pattern>/controller.do</url-pattern>
  </servlet-mapping>
  
    <servlet>
  	<servlet-name>snslogin</servlet-name>
  	<servlet-class>com.login.controller.SnsLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>snslogin</servlet-name>
	<url-pattern>/snscontroller.do</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>mytydee</servlet-name>
  	<servlet-class>com.tydee.controller.MyTydeeController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>mytydee</servlet-name>
  	<url-pattern>/mytydee.do</url-pattern>
  </servlet-mapping>
    <servlet>
  	<servlet-name>visionapi</servlet-name>
  	<servlet-class>com.tydee.controller.MyTydeeVisionController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>visionapi</servlet-name>
  	<url-pattern>/vision.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>tip</servlet-name>
  	<servlet-class>com.tydee.tip.controller.tip_controller</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>tip</servlet-name>
  	<url-pattern>/tip.do</url-pattern>
  </servlet-mapping>
  
    <servlet>
  	<servlet-name>secondhand</servlet-name>
  	<servlet-class>com.tydee.second.controller.SecondHandController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>secondhand</servlet-name>
  	<url-pattern>/secondhand_controller.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>secondcomm</servlet-name>
  	<servlet-class>com.tydee.second.controller.SecondCommController</servlet-class>
  </servlet>
    <servlet-mapping>
  	<servlet-name>secondcomm</servlet-name>
  	<url-pattern>/second_comm_controller.do</url-pattern>
  </servlet-mapping>
  
  	<servlet>
		<servlet-name>boarditem</servlet-name>
		<servlet-class>com.tydee.controller.BoardItemController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>boarditem</servlet-name>
		<url-pattern>/item.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>itembasket</servlet-name>
		<servlet-class>com.tydee.controller.ItemBasketController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>itembasket</servlet-name>
		<url-pattern>/basket.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>itemreview</servlet-name>
		<servlet-class>com.tydee.controller.ItemReviewController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>itemreview</servlet-name>
		<url-pattern>/review.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>useraddress</servlet-name>
		<servlet-class>com.tydee.controller.UserAddressController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>useraddress</servlet-name>
		<url-pattern>/address.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>itemorder</servlet-name>
		<servlet-class>com.tydee.controller.ItemOrderController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>itemorder</servlet-name>
		<url-pattern>/order.do</url-pattern>
	</servlet-mapping>

</web-app>