/*@charset "UTF-8";

@import url("googlewebfonts.css");
@import url("d3maker.css");
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);*/

:root {
  /*color*/
  --color-white: #ffffff;
  --color-black: #212121;
  --color-gray: #f4f4f4;
  --color-dark-gray: #f9f9f9;

  /*font size*/
  --font-large: 36px;
  --font-regular: 16px;
  --font-small: 14px;

  /*font weight*/
  --weight-bold: 700;
  --weight-regular: 500;
  --weight-thin: 300;

  /*Size*/
  --size-border-radius: 13px;
}

/*universal tags*/

body { 
  margin: 0;
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
  cursor: default;
}

a {
  margin: 0;
  text-decoration: none;
  color: var(--color-black);
}
ul,
li {
  list-style: none;
  padding-left: 0;
}

/*tydee mytydee*/

.tydee__mytydee {
  display: flex;
  flex-direction: column;
}

/*tydee*/

.tydee__mytydee__title {
  padding: 30px 30px;
  text-align: center;
}
.tydee__mytydee__title h1 {
  padding: 0 0 20px 0;
  color: var(--color-black);
}

/*modals*/

.modals {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-gray);
  padding:0;
  width: 100%;
  height: 100%;
}

.modal {
  flex: 1;
  align-items: baseline;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 40px 0;
}

.modal__right {
	height: 100%;
}

/*tiny search*/

.search {
  text-align: center;
}

.tiny__search {
  width: 300px;
  height: 25px;
  border: 0;
  background-color: #efefef;
  margin: 0;
  padding: 8px 14px;
  border-radius: 20px;
  font-size: var(--font-small);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding-right: 45px;
}
.search .icon {
  position: absolute;
  left: 80%;
  margin-left: 8px;
  margin-top: 5px;
  z-index: 1;
  font-size: 14px;
  color: var(--color-dark-gray);
  cursor: pointer;
}

.icon:hover {
  color: black;
  transition: all ease 1s 0s;
}

#button {
  background-color: transparent;
  width: 50px;
  height: 40px;
  border: 0;
  margin: 0;
  padding: 8px 14px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

/*tiny menu*/

.tiny__menu > p {
  margin: 29px 0;
  font-size: var(--font-small);
}

.tiny__menu > #des {
  padding: 15px 0;
}

.tiny__menu {
  padding-right: 0;
}

.modal__wrap {
  position: relative;
  display: block;
  width: 300px;
  height: 100%;
  padding: 30px;
  margin: 20px;
  border-radius: var(--size-border-radius);
  padding-bottom: 20px;
  background-color: #fff;
  -ms-flex-item-align: center;
  align-self: center;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

/*tiny-contnets*/

.tiny__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tiny__img {
  margin-top: 20px;
  width: 100%;
  height: 140px;
}
.tiny__contents {
  margin: 10px 0;
}

.tiny__contents_box {
  margin: 10px 0;
}
.tiny__section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.modal__wrap img {
  border-radius: 16px 16px 0 0;
  display: block;
  width: auto;
  height: 200px;
}
.modal__description {
  padding: 10px 30px 0px 30px;
  font-weight: var(--weight-regular);
  font-size: var(--font-small);
}
.modal__name {
  font-weight: var(--weight-bold);
  font-size: var(--font-regular);
}

.tiny__menu {
	padding-right: 20px;
	font-size: var(--font-regular);
	font-weight: var(--weight-bold);
}

.tiny__contents {
	display: flex;
	flex-direction: column;
}

.tiny__content, textarea {
  width: 130px;
  height: 20px;
  border: 0;
  background-color: #efefef;
  margin: 0;
  padding: 8px 14px;
  border-radius: 4px;
  font-weight: var(--weight-regular);
  font-size: var(--font-small);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.tiny__content_des {
  height: 45px;
}

[readonly=readonly]:focus {
	outline: none;
}

/*dim*/

.pop__buttons {
  text-align: right;
}

.dim__layer {
  position: fixed;
  top: 3%;
  left: 50%;
  padding: 30px;
  margin: 0;
  width: 350px;
  height: 520px;
  background-color: white;
  border-radius: 13px 13px 13px 13px;
  box-shadow: 10px 4px 30px rgba(0, 0, 0, 0.29);
  animation: appear 0.8s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.pop__content_insert {
  display: flex;
  flex-direction: row;
}

textarea {
	resize: none;
	overflow-x: hidden;
	overflow-y: auto;
}

.dim-layer {
  display: none;
  position: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.dim-layer .dimBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: .5;
  filter: alpha(opacity=50);
}

.dim-layer .pop-layer {
  display: block;
}

a.btn-layerClose {
  display: inline-block;
  height: 25px;
  padding: 0 14px 0;
  border: 1px solid #304a8a;
  background-color: #3f5a9d;
  font-size: 13px;
  color: #fff;
  line-height: 25px;
}

a.btn-layerClose:hover {
  border: 1px solid #091940;
  background-color: #1f326a;
  color: #fff;
}

/*create modal*/
.make__tydee {
  position: fixed;
  top: 25%;
  left: 25%;
  padding: 30px;
  margin: 0;
  width: 450px;
  height: 260px;
  background-color: white;
  border-radius: 13px 13px 13px 13px;
  box-shadow: 10px 4px 30px rgba(0, 0, 0, 0.29);
  text-align: center;
  animation: appear 0.8s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}
.input {
  width: 150px;
  height: 25px;
  border: 0;
  background-color: #efefef;
  margin: 0;
  padding: 8px 14px;
  border-radius: 4px;
  font-weight: var(--weight-bold);
  font-size: 18px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.modal__title{
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  padding: 10px;
}

.input:hover {
  outline: none;
}

.make__tydee__button {
  background-color: transparent;
  cursor: pointer;
  font-size: 17px;
  color: lightgray;
  font-weight: 700;
  margin: 24px;
  padding: 4px 6px;
  border: 2px solid lightgray;
  border-radius: 4px;
  position: relative;
  top: 45px;
  left: 190px;
}

input[readonly=readonly]{
	background: white;
	font-size: var(--font-small);
	font-weight: var(--weight-regualr);
}
input[value=TYDEE] {
	display: inline-block;
	width: 80px;
	font-weight: var(--weight-bold);
	font-size: var(--font-samll);
	color: white;
	background: slateblue;
	border-radius: 10px;
}
input[value=TINY] {
	display: inline-block;
	width: 80px;
	font-weight: var(--weight-bold);
	font-size: var(--font-samll);
	color: black;
	background: lightcoral;
	border-radius: 10px;
}
input[value=USER] {
	display: inline-block;
	width: 80px;
	font-weight: var(--weight-bold);
	font-size: var(--font-samll);
	color: black;
	background: yellowgreen;
	border-radius: 10px;
}

.pop__list > table{
	border-style:none;
}