<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>EShop</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>userinfo</servlet-name>
		<servlet-class>com.tydee.controller.UserInfoController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userinfo</servlet-name>
		<url-pattern>/member.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>boarditem</servlet-name>
		<servlet-class>com.tydee.controller.BoardItemController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>boarditem</servlet-name>
		<url-pattern>/item.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>itembasket</servlet-name>
		<servlet-class>com.tydee.controller.ItemBasketController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>itembasket</servlet-name>
		<url-pattern>/basket.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>itemreview</servlet-name>
		<servlet-class>com.tydee.controller.ItemReviewController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>itemreview</servlet-name>
		<url-pattern>/review.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>useraddress</servlet-name>
		<servlet-class>com.tydee.controller.UserAddressController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>useraddress</servlet-name>
		<url-pattern>/address.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>itemorder</servlet-name>
		<servlet-class>com.tydee.controller.ItemOrderController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>itemorder</servlet-name>
		<url-pattern>/order.do</url-pattern>
	</servlet-mapping>
</web-app>