@charset "EUC-KR";
html, body {
	overflow-x: hidden;
}
.tydee__sidelogo {
    font-size: var(--font-footer);
    bottom: 5%;
}

.tydee__name {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    letter-spacing: 3px;
}

.tydee__mid {
    font-weight: var(--weight-thin);
    letter-spacing: 3px;
}

section.tydee__index_part {
    display: block;
    flex-wrap: wrap;
    max-width: 100px;
    height: max-content;
    position: relative;
}

section.tydee__index_part:first-child {
    height: 110vh;
}

div.image {
    display: flex;
    position: absolute;
}

div.image>img {
    width: 19em;
    flex-direction: column;
}

.part1 {
    top: 1em;
    left: 4em;
}

.part2 {
    top: 5em;
    left: 12em;
}

.part3 {
    top: 0em;
    left: 24em;
}

.part4 {
    top: 12em;
    left: 28em;
}

.part5 {
    top: 22em;
    left: 26em;
}

.part6 {
    top: 13em;
    left: 6em;
}

.part7 {
    top: 16em;
    left: 17em;
}

.part8 {
    top: 25em;
    left: 20em;
}

.part9 {
    top: 26em;
    left: 7em;
}

article.image>img {
    max-width: 1000px;
    height: auto;
}