@charset "EUC-KR";:root {
  /*color*/
  --color-white: #ffffff;
  --color-black: #212121;
  --color-gray: #f4f4f4;
  --color-dark-gray: #dddddd;

  /*font size*/
  --font-large: 36px;
  --font-title: 25px;
  --font-regular: 10px;
  --font-small: 12px;

  /*font weight*/
  --weight-bold: 700;
  --weight-regular: 500;
  --weight-thin: 300;

  /*Size*/
  --size-border-radius: 13px;
}

/*universal tags*/

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  cursor: default;
}

a {
  margin: 0;
  text-decoration: none;
  color: var(--color-black);
}
ul,
li {
  list-style: none;
  padding-left: 0;
}

/*tydee secondhand*/

.tydee__eshop {
  display: flex;
  flex-direction: column;
}

/*tydee*/

.tydee__eshop__title {
  text-align: center;
  padding: 30px 30px;
}
.tydee__eshop__title h1 {
  padding: 0 0 20px 0;
  font-size: var(--font-large);
  color: var(--color-black);
}
.tydee__hashtag {
  display: flex;
  justify-content: center;
  font-size: var(--font-regular);
  color: var(--color-black);
}
.tydee__hashtag > a {
  margin: 0 50px;
}

/*modals*/
.modals {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 0;
}

.modal > img {
  margin-right: 30px;
}

/*details*/

.modal {
  position: sticky;
  top: 10%;
  left: 35%;
  padding: 20px 125px;
}
.tui-editor-contents {
  width: 300px;
}

.modal__name {
  font-size: var(--font-title);
  padding: 0 0 20px 0;
}

.modal__buttons {
  margin: 20px 0;
}

/*modal img*/

.modal__wrap img {
  display: block;
  width: 100vh;
  height: auto;
}

.title__inner {
  width: 130px;
  height: 20px;
  border: 0;
  background-color: #efefef;
  margin: 0 15px;
  padding: 8px 14px;
  border-radius: 4px;
  font-weight: var(--weight-regular);
  font-size: var(--font-small);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.button {
  padding: 0 40px;
  background-color: transparent;
  cursor: pointer;
  font-size: var(--font-regular);
  color: var(--color-dark-gray);
  margin: 15px 0;
  font-weight: var(--weight-bold);
  padding: 6px 8px;
  border: 1.5px solid var(--color-dark-gray);
  border-radius: 4px;
  position: relative;
}

input:hover {
  background-color: var(--color-dark-gray);
  color: var(--color-white);
  transition: all ease 0.3s 0s;
}

/*reviews*/

.reviews {
  border: 1px solid var(--color-black);
  width: auto;
  margin: 30px 100px;
  height: 200px;
  text-align: center;
}
